/* Базовые стили */
.menu-item {

    /* text-align: center; */
    font-size: x-large;
    padding: 14px;
    text-decoration: none;
    color: var(--text-primary);
    transition: var(--transition);
}

/* Только isSelected */
.menu-item.isSelected {
    /* border: 2px solid ; */
    border-radius: 20%;
}

.menu-item.active {
    width: 40px;
}



.menu-item.active.isSelected {
    border-radius: 20%;
    width: 60px;
    background-color: var(--border);
    color: var(--text-color);
}



.menu-item:hover {
    color: var(--text-hover);
}
