.menu-item {


    font-size: x-large;
    padding: 14px;
    text-decoration: none;
    color: var(--text-primary);
    transition: var(--transition);
}



.menu-item.isSelected {
    background-color: var(--border);
    color: var(--text-color);
    border-radius: 8px;
}

.menu-item.isSelected.active {
    border-radius: 8px;
    background-color: var(--border);
    color: var(--text-color);
}



.menu-item:hover {
    color: var(--text-hover);
}