.menu-item {
    text-align: center;
    font-size: x-large;
    margin: 0%;
    padding: 10%;
    text-decoration: none;

}

.menu-item:active {
    text-decoration: none;
    text-align: center;
    font-size: x-large;
}
.menu-item:active:chosen{
    background-color: blue;
}