/* Sidebar.css */
.sidebar {
    padding-top: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    /* свернутое состояние */
    background-color: #f0f0f0;
    /* border-right: 1px solid #ccc; */
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.expanded {
    width: 240px;
    /* развернутое состояние */
}